.header{
    height: 280px;
    padding: 30px 40px;
    display: flex;
    background-color:tomato;
    
}
.site_slogan{
    width: 420px;
    margin-left: 50px;
    text-align: center;
    font-family: cursive;
}  
.h2{
    font-size: 60px;
    
}
