.search-div{
    margin: 10px 20px;
    padding: 10px 20px;
}

input[type="text"]{
    width: 400px;
    height :40px;
    margin-left: 20px;
    border-width: none;
}
.changebackground{
    background-color: coral;
    
}